* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/images.jfif);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-panel-container {
  position: relative;
  display: grid;
  place-items: center;
  background: rgba(77, 172, 163, 0.247);
  border-radius: 6%;
}

.calculator-panel {
  position: relative;
  width: auto;
  height: 700px;
  border-radius: 6%;
}

.calculator-panel-hidden {
  position: absolute;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 700px;
  border-radius: 6%;
  box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.692);
  z-index: -1;
}

.numbers {
  height: 600px;
  color: #fff;
  font-family: "Shadows Into Light", cursive;
  font-size: 50px;
  font-weight: 100;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "screennn screennn screennn screennn"
    "clear clear clear devide"
    "seven eight nine multi"
    "four five six minus"
    "one two three plus"
    "null null coma equal";
}

#screennn {
  background-color: rgba(11, 81, 94, 0.288);
  grid-area: screennn;
  width: auto;
  height: 120px;
  border-bottom: 0.1px solid rgb(122, 114, 114);
  border-start-start-radius: 10%;
  line-height: 3.5rem;
  text-align: end;
}

#screenSmall {
  font-size: 45px;
}

#screenBig {
  font-size: 60px;
}

#multi {
  grid-area: multi;
}

#minus {
  grid-area: minus;
}

#plus {
  grid-area: plus;
}

#equal {
  grid-area: equal;
}

#coma {
  grid-area: coma;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#seven {
  grid-area: seven;
}

#eigth {
  grid-area: eigth;
}

#nine {
  grid-area: nine;
}

#devide {
  grid-area: devide;
}

#null {
  grid-area: null;
  text-align: center;
}

#clear {
  grid-area: clear;
  text-align: center;
}

.numbers div {
  padding: 1rem;
  text-align: center;
}

.buttons {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 70px;
}

.buttons-longer {
  border-radius: 10%;
}

.buttons,
.buttons-longer {
  background-color: rgba(212, 241, 241, 0.082);
  box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(22, 24, 24, 0.521);
}
